In [21]:
from datafetcher import EliaTotalLoadForecastFetcher, EliaWindFetcher, EliaSolarFetcher, ElexysBelpexFetcher
import datetime as dt

In [17]:
df_solar = EliaSolarFetcher().fetch()
df_solar.head()
#df_solar.DayAheadForecast[df_solar.index > dt.datetime.now()-dt.timedelta(weeks=1)].plot()

fetching url:		 http://publications.elia.be/Publications/Publications/SolarForecasting.v4.svc/GetChartDataForZoneXml?dateFrom=2018-03-01&dateTo=2018-04-01&sourceId=1&_ga=2.68055058.2010966875.1521024315-1232406948.1519313643

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DayAheadForecast</th>
      <th>LoadFactor</th>
      <th>MonitoredCapacity</th>
      <th>MostRecentForecast</th>
      <th>WeekAheadForecast</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2013-12-31 23:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>2915.88</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-12-31 23:15:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>2915.88</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-12-31 23:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>2915.88</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-12-31 23:45:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>2915.88</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-01-01 00:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>2915.88</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
df_load = EliaTotalLoadForecastFetcher().fetch()
df_load.head()

fetching url:		 http://publications.elia.be/Publications/Publications/FileRepository.v1.svc/DownloadFile?filePath=\load_forecast\Total_load_forecast_2018.csv

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2014-08-08 08:00:00</th>
      <td>8951.13</td>
    </tr>
    <tr>
      <th>2014-08-08 08:15:00</th>
      <td>8929.77</td>
    </tr>
    <tr>
      <th>2014-08-08 08:30:00</th>
      <td>8967.10</td>
    </tr>
    <tr>
      <th>2014-08-08 08:45:00</th>
      <td>8949.09</td>
    </tr>
    <tr>
      <th>2014-08-08 09:00:00</th>
      <td>8734.89</td>
    </tr>
  </tbody>
</table>
</div>

In [22]:
df_belpex = ElexysBelpexFetcher().fetch()
df_belpex.head()

/home/sander/miniconda3/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /home/sander/miniconda3/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2018-03-17 23:00:00</th>
      <td>52.53</td>
    </tr>
    <tr>
      <th>2018-03-17 22:00:00</th>
      <td>57.89</td>
    </tr>
    <tr>
      <th>2018-03-17 21:00:00</th>
      <td>57.40</td>
    </tr>
    <tr>
      <th>2018-03-17 20:00:00</th>
      <td>63.83</td>
    </tr>
    <tr>
      <th>2018-03-17 19:00:00</th>
      <td>73.61</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
df_wind = EliaWindFetcher().fetch()
df_wind.head()